# Environment variables
.env

# Virtual Environment
venv/
.venv/
env/

# Python cache & artifacts
__pycache__/
*.pyc

# IDE configuration
.vscode/
.idea/
*.DS_Store

# Project-specific ignores
bge_db/
chroma_db/
*.sqlite3
*.parquet
*.bin

evaluation_results.csv
data/*.pdf
data/*.PDF